@import url( 'https://fonts.googleapis.com/css?family=Pacifico');
@import url( 'https://fonts.googleapis.com/css?family=Nunito');

/**********
 * Header *
 **********/

.menu-heading {
    font-family: 'Pacifico', cursive;
    text-transform: capitalize !important;
}

.level {
    font-size: 1.3em;
}

.level-link {
    text-decoration: none !important;
}

/**********
 * BANNER *
 **********/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
}

.hero .title {
    color: #dfe5e6;
    background-color: #090909;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.hero {
    background: url("https://raw.githubusercontent.com/liberdade-organizacao/tumblr/master/src/pde/bg/bg.png") repeat;
    background-color: #F18F01;
}


/********
 * BLOG *
 ********/

body {
    color: #090909;
    background-color: #dfe5e6;
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 1.5em;
}

h3 {
    font-weight: 600;
    font-size: 1.4em;
}

p {
    line-height: 1.6em;
}

a:hover,
a:link,
a:visited {
    color: #090909;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #F18F01;
}

hr {
    border: #F18F01;
    background-color: #F18F01;
    border-width: medium;
}

/**********
 * FOOTER *
 **********/

.footer {
    background-color: #090909;
    color: #dfe5e6;
}

.fa {
    color: #F18F01;
}

.fo {
    color: #dfe5e6;
}
