<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Página da Liberdade Consultoria em Organização">
        <title>Liberdade.</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <style>
            {{.Style}}
        </style>
    </head>
    <body>

        {{.Header}}

        <section class="hero is-medium">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        Liberdade.
                    </h1>
                </div>
            </div>
        </section>

        <section class="section">
            <article class="message">
                <div class="message-Body">
                    <p>
                        Procurando saber mais sobre organização e
                        produtividade? Então veio ao lugar certo!
                        Liberdade é um blog onde divido alguns
                        <em>insights</em> tornar o dia-a-dia mais
                        fácil e simples.
                    </p>
                </div>
            </article>
        </section>

        <section class="section">
            {{.Body}}

            <div class="container">
                <p>
                    <a href="/blog?offset=4">Leia mais no restante do blog</a>!
                </p>
            </div>
        </section>

        {{.Footer}}

        <script type="text/javascript">
            {{.Script}}
        </script>
    </body>
</html>
