<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website for Cristiano Silva Jr.">
        <title>Hello!</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="icon" href="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <style>
            {{.Style}}
        </style>
    </head>
    <body>

        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="/"><i class="fa fa-smile-o"></i>
					Cris Silva Jr.
				</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="office" class="pure-menu-link pure-menu-selected">Escritório</a></li>
                    <li class="pure-menu-item"><a href="garage" class="pure-menu-link">Oficina</a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <h2 class="content-head is-center">Serviços oferecidos</h2>

            <div class="pure-g">
                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="200" alt="File Icons" class="pure-img-responsive" src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/robot.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head">Engenheiro de Controle &amp; Automação</h2>
                    <p>
                        Minha especialidade é em processamento digital de sinais, contruída sobre as experiências na área da engenheria biomédica. Minhas melhores habilidades vem da engenharia de computação, contando com trabalhos que vão desde <i>design</i> de circuitos eletrônicos até o desenvolvimento de aplicações em <i>software</i> utilizando metodologias de projeto modernas. Tudo isto contribui para que eu faça de parte de equipes capazes de construir e manter sistemas complexos. Também tenho experiências com desenvolvimento <i>web</i> e com administração de sistemas computacionais, sempre buscando desenvolver e entregar soluções melhores e mais integradas.
                    </p>
                </div>

                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="200" alt="File Icons" class="pure-img-responsive" src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/checklist.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head">Organizador Pessoal</h2>
                    <p>
                        Para fazer um uso melhor das minhas ferramentas de engenharia, eu desenvolvi habilidades de organização sólidas que podem ser utilizadas não somente com equipes e empresas, mas com indivíduos que buscam controlar seu tempo, seus espaços e os seus projetos. Eu presto <a class="joe-link" href="/office/gtd">treinamentos</a> e consultorias para ajudar meus clientes a dominar o seu fluxo de trabalho; completar suas tarefas; e viver uma vida melhor.
                    </p>
                </div>
            </div>
        </div>

        <div class="content manager-joe">
            <h2 class="content-head is-center">Experiências anteriores</h2>

            <div class="pure-g">
                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="200" alt="File Icons" class="pure-img-responsive" src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/unb.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head"><a class="black-header-link" href="http://unb.br/">Graduação em Engenharia Mecatrônica</a></h2>
                    <p>
                        Eu estudo Engenharia Mecatrônica na Universidade de Brasília.
                    </p>
                </div>

                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="200" alt="File Icons" class="pure-img-responsive" src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/labneuro.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head"><a class="black-header-link" href="http://www.biologiaanimal.unb.br/index.php?option=com_content&view=article&id=8&Itemid=14">Pesquisador no Laboratório de Neurociência e Comportamento</a></h2>
                    <p>
                        Eu desenvolvi <i>software</i> dedicado para processamento de sinais biomédicos e de dados psicológicos, tais como <a href="https://github.com/lab-neuro-comp/P2" class="black-header-link">Protolize!</a>; <a href="https://github.com/ishiikurisu/Scalemate" class="black-header-link">Scalemate</a>; e uma implementação do test <i>Stop Signal Task</i>.
                    </p>
                </div>

                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="200" alt="File Icons" class="pure-img-responsive ieee-img" src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/ieee.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head"><a class="black-header-link" href="http://www.ieee.org/index.html">Membro do IEEE</a></h2>
                    <p>
                        Como presidente organizacional da <a class="black-header-link" href="https://www.facebook.com/sensesunb/">EMBS UnB</a>, eu ajudei a manter todo o capítulo funcionando, dirigindo os nossos esforços para completar eventos como palestras em Engenharia Biomédica; e o projeto <a href="http://www.possibilita.bmd.br" class="black-header-link">Possibilita</a>, uma iniciativa focada em educar o público geral sobre como criar dispostivos de tecnologia assistiva.
                    </p>
                    <p>
                        Como secretário geral da <a href="https://www.facebook.com/IEEEComputerSocietyUnB" class="black-header-link">Computer Society UnB</a>, eu organizo o <a href="https://www.facebook.com/groups/1009735115784291/" class="black-header-link">Coding Dojo UnB</a> e mantenho as equipes do capítulo organizadas e ativas.
                    </p>
                </div>
            </div>
        </div>

        <div class="content ">
            {{.Footer}}
        </div>

        <script type="text/javascript">
            {{.Script}}
        </script>
    </body>
</html>
