<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website for Cristiano Silva Jr.">
        <title>Organização Pessoal</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://raw.githubusercontent.com/hakimel/reveal.js/master/css/reveal.css">
        <link rel="icon" href="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <style>
            {{.Style}}
        </style>
    </head>
    <body>
        <div class="reveal">
			<div class="slides">
                <section>
                    <h2>Gestão de tempo</h2>
                    <p>Cristiano Silva Jr.</p>
                </section>

                <!-- TODO Update links -->
                <!-- IDEA Add this to my website -->
                <section>
                    <p>Acompanhe a apresentação:</p>
                    <img src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/crisgtd.png" alt="http://www.crisjr.eng.br/office/gtd">
                    <p>http://www.crisjr.eng.br/office/gtd</p>
                </section>

                <section>
                    <h2>"魔法がじゃありません!"</h2>
                    <h3>- Marie Kondo</h3>
                </section>

                <section>
                    <section>
                        <h2>Aonde vamos?</h2>
                    </section>
                    <section>
                        <img src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/img/cartesian.jpg" alt="Obrigado!">
                    </section>
                    <section>
                        <h2>O trabalho pode ser classificado de três formas:</h2>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Não planejado</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Planejado</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Planejando</p>
                    </section>
                </section>

                <section>
                    <h2>"Your mind is for having ideas, not holding them."</h2>
                    <h3>- David Allen</h3>
                </section>

                <section>
                    <section>
                        <h2>Organização em 10 segundos:</h2>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Tirar da cabeça</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Organizar</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Checar mais tarde</p>
                    </section>
                    <section>
                        <h2>Tirar da cabeça é</h2>
                        <p>Anotar em um caderno ou nas notas do celular, tirar uma foto, gravar um áudio...</p>
                    </section>
                    <section>
                        <h2>Organizar é</h2>
                        <p>Fazer <a href="https://www.youtube.com/watch?v=UzQ6z4ygKfY">mapas conceituais</a>, ensinar alguém, escrever um resumo, regularmente praticar o que você aprendeu...</p>
                    </section>
                    <section>
                        <h2>Checar mais tarde é</h2>
                        <p>Olhar o calendário, lembrar de olhar todas as anotações que você fez, relembrar os seus sonhos e o porquê de você estar fazendo o que faz...</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Adote um sistema!</h2>
                        <p>Se o seu sistema permite que você se organize, ele deve ter:</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Caixa de Entrada</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Ações</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Ideias</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Revisão</p>
                    </section>
                    <section>
                        <h2>Caixa de Entrada</h2>
                        <p>Local para onde toda as "coisas" tem que ir. Daqui, devemos esclarecer tudo.</p>
                        <p>As coisas podem ser tarefas ou informação. Ou lixo.</p>
                    </section>
                    <section>
                        <h2>Ações</h2>
                        <p>Afinal de contas, todos temos algo para fazer.</p>
                        <p>Tarefas podem ser feitas, delegadas ou agendadas.</p>
                    </section>
                    <section>
                        <h2>Ideias</h2>
                        <p>Imagine como a sua biblioteca pessoal. Com um calendário.</p>
                        <p>Toda informação deve ser descartada, incubada ou guardada.</p>
                    </section>
                    <section>
                        <h2>Revisão Regular</h2>
                        <p>Que tal uma vez por semana?</p>
                        <p>Toda semana, limpe a caixa de entrada e reflita sobre os seus resultados.</p>
                    </section>
                </section>

                <section>
                    <h2>Caixa de Entrada</h2>
                    <p>
                        Onde todas as "coisas" devem ir! Devemos separá-las em itens
                        realizáveis e não-realizáveis.
                    </p>
                    <p>
                        Atenha-se ao mínimo de entradas possíveis.
                    </p>
                </section>

                <section>
                    <section>
                        <h2>Referência</h2>
                        <p>Ideias podem ser guardadas, incubadas ou descartadas.</p>
                    </section>
                    <section>
                        <p>
                            Para organizar seus itens guardados, adote um método de etiquetamento.
                            Comece com uma única etiqueta genérica para guardar tudo.
                            Quando começarem a surgir padrões, crie etiquetas novas.
                        </p>
                    </section>
                    <section>
                        <h2>初心忘るべからず.</h2>
                        <p>
                            De tempos em tempos, lembre-se de olhar para as ideias incubadas.
                            Principalmente quando o tédio bater.
                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Lista de tarefas</h2>
                        <p>Tarefas podem ser feitas, planejadas ou delegadas.</p>
                    </section>
                    <section>
                        <h2>Regra dos 2 minutos</h2>
                        <p>Se durar 2 minutos para fazer, então faça!</p>
                    </section>
                    <section>
                        <h2>Calendário</h2>
                        <p>
                            Suas ações vão tomar um tempo da sua vida.
                            Nada mais justo do que separar logo este tempo.
                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Revisão Semanal</h2>
                        <p>É aqui que está a força do sistema!</p>
                        <p>Em resumo: limpar a caixa de entrada e planejar a semana.</p>
                    </section>
                    <section>
                        <h2>Versão longa</h2>
                        <p><a href="http://gettingthingsdone.com/wp-content/uploads/2014/10/Weekly_Review_Checklist.pdf"><i>Checklist</i> para a sua revisão semanal.</a></p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Projetos</h2>
                        <p>Tarefas duram minutos ou horas.</p>
                        <p>Projetos duram dias ou semanas.</p>
                    </section>
                    <section>
                        <h2>Modelo de planejamento natural</h2>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Definindo propósitos e princípios</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Visualizando resultado</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i><i>Brainstorming</i></p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Organizando</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i>Identificando próximas ações</p>
                    </section>
                    <section>
                        Ações &lt; Projetos &lt; Áreas de foco &lt; Planos de vida &lt; Princípios
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Em resumo...</h2>
                        <p>GTD é tirar da cabeça, organizar e checar depois.</p>
                    </section>
                    <section>
                        <p>
                            "Coisas" entram na caixa de entrada e se tornam ações ou ideias.
                        </p>
                        <p>
                            Ações podem ser feitas, planejadas ou delegadas.
                        </p>
                        <p>
                            Ideias podem ser guardadas, incubadas ou descartadas.
                        </p>
                    </section>
                    <section>
                        <h2>Não se esqueça da revisão semanal!</h2>
                    </section>
                </section>

                <section>
                    Let's get things done?
                </section>

                <section>
                    <img src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/img/steelers.gif" alt="Obrigado!">
                    <h2>Obrigado!</h2>
                    <p><i class="fa fa-check" aria-hidden="true"></i>
                        <a href="http://www.crisjr.eng.br">Contato do Cris</a>
                    </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i>
                        <a href="mailto:cristianoalvesjr@gmail.com">cristianoalvesjr@gmail.com</a>
                    </p>
                    <p>
                        <a href="https://github.com/ishiikurisu"><i class="fa fa-github-alt" aria-hidden="true"></i></a> / 
                        <a href="https://www.linkedin.com/in/cristiano-alves-da-silva-j%C3%BAnior-085391141/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </p>
                </section>
			</div>
		</div>

        <script charset="utf-8" type="text/javascript">
            {{.Script}}
            Reveal.initialize();
        </script>
    </body>
</html>
